#headername{
    color: red;
}

.navigation a{
    text-decoration: none;
    color: black;
}

.navigation{
    background-color: aqua;
}

.dept{
    border: 1px solid black;
    padding: 1vh;
}
.dept h2{
    color: brown;
}

.fact{
    border: 1px solid black;
    padding: 1vh;
}

.fact h2{
    color: blueviolet;
}